.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  img {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;

    @keyframes App-logo-spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
  }

  p {
    color: white;

    code {
      padding: .2em .4em;
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
      background: rgb(40, 40, 40);
    }
  }
}